#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: #e2e2e2;
    }
    
    p {
        color: #e2e2e2;
    }


}